.card {
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;

    &__wrapper {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        @include respond(phone) {
            display: flex;
            padding-bottom: 5rem;
            
            &:not(:last-child) {
                margin-right: 0;
            }

            &:not(:first-child) {
                padding-top: 2.5rem;
                border-top: 1px solid $color-gray-medium-light;
            }
        }
    }

    &__wrapper--heading {
        margin-bottom: 1.5rem;
       
        &-img {
            width: 100%;

            @include respond(phone) {
                width: 15rem;
                height: 15rem;
            }
        }

        @include respond(phone) {
            margin-bottom: 0;
            margin-right: 2rem;
        }
    }

    &__wrapper--details {
        max-width: 30rem;

        &-month {
            color: $color-gray-medium-dark;
            font-size: 1.4rem;

            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &-par {
            color: $color-primery-dark;
            font-size: 2.5rem;
            font-weight: 100;
            line-height: 3rem;
            margin-top: 1.5rem;

            @include respond(tab-port) {
                font-size: 1.8rem;
                line-height: 2rem;
            }

            @include respond(phone) {
               font-size: 1.9rem;
               line-height: 3rem;
            }
        }

        @include respond(phone) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @include respond(phone) {
       flex-direction: column;
    }
}